<%= form_tag charges_path do %>
<div class="row">
  <div class="col-md-4">
    <% if current_user.standard? %>
      <h4>Click the button!</h4>
      <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
   <% end %>
   <% if current_user.premium? || current_user.admin? %>
    <%= link_to "Revert to Standard", @user, method: :update, class: 'btn btn-danger', data: {confirm: 'All private wikis will become public!'} %>
   <% end %>
   <% end %>
 </div>
</div>
