<!DOCTYPE html>
<html>
<head>
  <title>ProjectOne</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= navbar container: 'fluid' do %>
  <%= navbar_header brand: 'Blocipedia', brand_link: '/' %>
  <%= navbar_collapse do %>
     <%= navbar_group class: 'foo', id: 'menu' do %>
       <%= navbar_text 'Pick an option:' %>
       <%= navbar_item "Home", '/' %>
       <%= navbar_item "Wikis", '/wikis' %>
       <%= navbar_item 'Upgrade Account', edit_user_path(:id) %>
       <%= navbar_dropdown "Stuff" do %>
         <%= navbar_dropdown_header 'Great stuff!' %>
         <%= navbar_item "Go Premium", edit_user_registration_path %>
          <% if user_signed_in? %>
           <%= navbar_dropdown_divider %>
           <%= navbar_item "Edit Profile", edit_user_registration_path %>
          <% end %>
        <% end %>
      <% end %>
     <%= navbar_group align: 'right' do %>
       <% if user_signed_in? %>
       <%= navbar_item current_user.email, edit_user_registration_path %>
       <%= navbar_item "Sign Out", destroy_user_session_path, :method => :delete %>
       <% else %>
         <%= navbar_item "Sign Up", new_user_registration_path %>
         <%= navbar_item "Sign In", new_user_session_path %>
       <% end %>
     <% end %>
  <% end %>
<% end %>

    <div class="flash">
      <% if flash[:notice] %>
           <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <%= flash[:notice] %>
           </div>
      <% elsif flash.now[:alert] %>
       <div class="alert alert-danger">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash.now[:alert] %>
       </div>
      <% elsif flash[:alert] %>
       <div class="alert alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:alert] %>
       </div>
      <% end %>
    </div>


<%= yield %>

</body>
</html>
